.container {
    padding: 2rem 1rem;
    text-align: center;
}

.container > form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
}

.todo__list {
    padding: initial;
    margin: 0 auto;
}

.todo__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0.6rem 0;
}

.todo__item button {
    margin-left: 0.6rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .todo__list {
        width: 500px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
